{% extends 'layouts/d.html' %}
{% load static %}

{% block content %}
<div class="card !p-8">
  <div class="flex justify-between items-center">
    <h1 class="text-left">Collection of {{ request.user }}</h1>
      
    <button type="button" hx-trigger="click" hx-get="{% url 'collection-list' %}?data-template=a_collections/partials/results_table.html" hx-target="#results-container" hx-swap="innerHTML">
      List View
    </button>
      
    <button type="button" hx-trigger="click" hx-get="{% url 'collection-list' %}?data-template=a_collections/partials/results_cover.html" hx-target="#results-container" hx-swap="innerHTML">
      Cover View
    </button>

  </div>

  <!-- Spinner element -->
  <div id="spinner" class="hidden">
    <i class="fas fa-spinner fa-spin"></i> Loading...
  </div>

  <!-- search form -->
  <form id="search-form" hx-target="#results-container" hx-swap="innerHTML" hx-boost="true">
    {% csrf_token %}
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist" id="artist_name" placeholder="Search by artist">
    <br>
    <label for="album_name">Album Name:</label>
    <input type="text" name="album" id="album_name" placeholder="Search by album name">
    <br>
    <label for="barcode">Barcode:</label>
    <input type="text" name="barcode" id="barcode" placeholder="Search by barcode">

    <br>
    <br>

    <!-- Add checkboxes for format -->
    <label>
      <input type="checkbox" name="format" value="CD"> CD
    </label>
    <label>
        <input type="checkbox" name="format" value="vinyl"> Vinyl
    </label>
    <label>
        <input type="checkbox" name="format" value="cassette"> Cassette
    </label>
    <label>
      <input type="checkbox" name="format" value="md"> Minidisc
    </label>
    <label>
      <input type="checkbox" name="format" value="sacd"> SACD
    </label>
    <label>
        <input type="checkbox" name="format" value="digital_media"> Digital Media
    </label>
    <br><br>
    
    <button type="submit" hx-post="{% url 'collection-list' %}" hx-vals="#search-form input" hx-trigger="click" data-action="search">Search</button>
    <button type="submit" hx-post="{% url 'collection-list' %}" name="reset" value="true" hx-trigger="click">Reset</button>

    <!-- Add hx-indicator attribute to the Add button to indicate loading -->
    <button type="submit" hx-post="{% url 'search_release' %}" hx-target="#results-container" hx-indicator="#spinner" hx-swap="innerHTML">Add release  
      <img  id="spinner" class="htmx-indicator" src="{% static 'images/spinner200.svg' %}"/>
    </button>
    
    
  </form>

  <div id="results-container" class="card !p-8">
    {% include 'a_collections/partials/results_table.html' %}
    {% comment %} {% include 'a_collections/partials/results_cover.html' %} {% endcomment %}
  </div>

</div> 

<script>
  // Remove the 'hidden' class from the spinner when the Add release button is clicked
  document.getElementById('search-form').addEventListener('submit', function(event) {
    document.getElementById('spinner').classList.remove('hidden');
  });
</script>
{% endblock %}
