{% extends 'layouts/d.html' %}
{% load static %}

{% block content %}
<div class="card !p-8">
  <div class="flex justify-between items-center">
    <h1 class="text-left">Collection of {{ request.user }}</h1>
    <a href="{% url 'release-create' %}">
      <button type="submit">
        Add
      </button>
    </a>
  </div>
  
  <!-- Search form -->
  <form id="search-form" hx-post="{% url 'collection-list' %}" hx-target="#results-container" hx-swap="innerHTML" hx-boost="true">
    {% csrf_token %}
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist" placeholder="Search by artist">
    <br>
    <label for="album_name">Album Name:</label>
    <input type="text" name="album" placeholder="Search by album name">
    <br>
    <br>
    <button type="submit" hx-vals="#search-form input" hx-trigger="click">Search</button>
    <button type="submit" name="reset" value="true" hx-trigger="click">Reset</button>
  </form>


  <div id="results-container" class="card !p-8">
    {% include 'a_collections/partials/results_table.html' %}
  </div>

</div> 
{% endblock %}
