{% extends 'layouts/d.html' %}
{% load static %}

{% block content %}
<div class="card !p-8">
  <div class="flex justify-between items-center">
    <h1 class="text-left">Collection of {{ request.user }}</h1>
     {% comment %} <a href="#" hx-get="{% url 'collection-list' %}" hx-target="#results-container" hx-swap="innerHTML"> {% endcomment %}
      
      <button type="button" hx-trigger="click" hx-get="{% url 'collection-list' %}?data-template=a_collections/partials/results_table.html" hx-target="#results-container" hx-swap="innerHTML">
        List View
      </button>
      
      <button type="button" hx-trigger="click" hx-get="{% url 'collection-list' %}?data-template=a_collections/partials/results_cover.html" hx-target="#results-container" hx-swap="innerHTML">
        Cover View
      </button>
            
  </div>
  
  <!-- Search form -->
  {% comment %} <form id="search-form" hx-post="{% url 'collection-list' %}" hx-target="#results-container" hx-swap="innerHTML" hx-boost="true">
    {% csrf_token %}
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist" id="artist_name" placeholder="Search by artist">
    <br>
    <label for="album_name">Album Name:</label>
    <input type="text" name="album" id="album_name" placeholder="Search by album name">
    <br>
    <br>
    <button type="submit" hx-vals="#search-form input" hx-trigger="click">Search</button>
    <button type="submit" name="reset" value="true" hx-trigger="click">Reset</button>
  </form> {% endcomment %}

  <form id="search-form" hx-target="#results-container" hx-swap="innerHTML" hx-boost="true">
    {% csrf_token %}
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist" id="artist_name" placeholder="Search by artist">
    <br>
    <label for="album_name">Album Name:</label>
    <input type="text" name="album" id="album_name" placeholder="Search by album name">
    <br>
    <br>
    <button type="submit" hx-post="{% url 'collection-list' %}" hx-vals="#search-form input" hx-trigger="click" data-action="search">Search</button>
    <button type="submit" hx-post="{% url 'collection-list' %}" name="reset" value="true" hx-trigger="click">Reset</button>
    <button type="submit" hx-post="{% url 'search_release' %}" hx-target="#results-container" hx-swap="innerHTML">Add</button>

  </form>

  <div id="results-container" class="card !p-8">
    {% include 'a_collections/partials/results_table.html' %}
    {% comment %} {% include 'a_collections/partials/results_cover.html' %} {% endcomment %}
  </div>

</div> 
{% endblock %}
