{% extends 'layouts/b.html' %}

{% block content %}
<div class="cover-art-container">
    {% if cover_art_images %}
        {% with first_cover_art=cover_art_images.first %}
            <img src="{{ first_cover_art.image_url }}" alt="Cover Art" width="200">
        {% endwith %}
    {% else %}
        <p>No cover art available</p>
    {% endif %}
</div>
<h1>{{ release.name }}</h1>
<p>Artist: {{ collection.release.artist.name }}</p>
<p>Label: {{ collection.release.record_label.name }}</p>
<p>Release date: {{ collection.release.date }}</p>
<br>
<p>Catalog Number: {{ collection.release.catalog_number }}</p>
<p>Barcode: {{ collection.release.barcode }}</p>
<br>
<p>Format: {{ collection.release.format }}</p>
<p>Status: {{ collection.release.status }}</p>
<p>Tracks: {{ collection.release.cd_tracks }} {% if collection.release.dvd_tracks > 0 %} CD + {{ collection.release.dvd_tracks }} DVD{% endif %}</p>


<!-- Back button -->
<button onclick="goBack()">Back</button>

<!-- JavaScript function to go back to the previous page -->
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}