{% extends 'layouts/d.html' %}
{% load static %}

{% block content %}


<div class="card !p-8">
    <h1>Search Album</h1>
    <form method="post" action="{% url 'search_release' %}">
        {% csrf_token %}
        <label for="artist_name">Artist Name:</label>
        <input type="text" name="artist" id="artist_name">
        <br>
        <label for="album_name">Album Name:</label>
        <input type="text" name="album" id="album_name">
        <br>
        <br>
        <button type="submit">Search</button>
    </form>

    <div id="results-container" class="card !p-8">
      {% include 'a_collections/partials/musicbrainz_results_table.html' %}
    </div>

     
</div>
{% endblock %}